---
page_title: {{ .ProviderShortName }} Provider
subcategory: "Utility"
description: |-
    Ultra-thin REST wrapper for the OpenZiti Management API forked from Mastercard/restapi
---

# {{ .ProviderShortName }} Provider

## A Note about Terraform Provider Configuration

You'll probably need to get the provider configuration from remote state provided by another plan. This is because provider configuration occurs in an early phase of plan and apply, and so it's not possible to reliably obtain the configuration values from the same plan.

## Example Usage

{{ tffile "examples/provider_with_ziti_password.tf" }}

## OpenZiti Authentication

You must provide at least one of `cacerts_file` or `cacerts_string` with the OpenZiti Controller's CA bundle as PEM.

You must provide at least one of (`ziti_username` and `ziti_password`) or ((`cert_file` or `cert_string`) and (`key_file` or `key_string`)).

You must have an `updb` Authenticator to use password auth.

You must have a `cert` Authenticator and compatible Authentication Policy to use cert auth.

{{ .SchemaMarkdown | trimspace }}
